# lockfiles
pnpm-lock.yaml
package-lock.json
yarn.lock
bun.lock

# misc
pnpm-workspace.yaml
routeTree.gen.ts
.tanstack-start/
.tanstack/
drizzle/
.drizzle/
.turbo

# build outputs
.vercel
.output
.wrangler
.netlify
dist